body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    justify-content: space-between;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: black;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: gray;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid #ddd;
}
li:first-child {
    padding-top: 20px;
}
li:last-child {
    border-bottom: none;
}

.button-container {
    display: flex;
}

.delete-btn,
.update-btn {
    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-right: 10px; /* 버튼 간의 간격 조절 */
}

.delete-btn {
    background-color: #ad3d57;
}

.delete-btn:hover {
    background-color: #702839;
}

.update-btn {
    background-color: #3da0ad;
}

.update-btn:hover {
    background-color: #286370;
}
.move-up-btn,
.move-down-btn {
    background-color: transparent;
    border: none; /* 기본 버튼 테두리 제거 */
}

.move-up-btn img,
.move-down-btn img {
    width: 30px; /* 원하는 너비로 조절 */
    height: 30px; /* 원하는 높이로 조절 */
}
